    <% @posts.each do |post| %>
      <div class="post">
        <h3><%= link_to post.title, post %></h3>
        <div class="post-body"><%= post.body_html %></div>
        <div class="post-control"></div>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
      </div>
    <% end %>